/* GENERAL */
html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body {
    font-family: 'Roboto Mono', monospace;
}

button,
button:focus,
a,
input,
label {
    color: inherit;
    background: inherit;
    cursor: pointer;
    outline: 0;
    border: 0;
}

li {
    list-style: none;
}

/* UTILITIES */
.block {
    display: block;
}


.container {
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
}

.no-display {
    display: none;
}

.inline-fl-w {
    display: inline-flex;
    flex-wrap: wrap;
}

.flex-w {
    display: flex;
    flex-wrap: wrap;
}

.flex {
    display: flex;
}

.mb-15 {
    margin-bottom: 15px;
} 

.mb-30 {
    margin-bottom: 30px;
}

.text-small {
    font-size: 70%;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.central {
    margin: auto;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.in-block {
    display: inline-block;
}

/* BODY */
body {
    background-color: #121212;
    color: snow;
}

.page-header {
    padding: 25px;
}

main > .container{
    justify-content: space-between;
}

.description-section {
    flex-basis: 400px;
    width: 300px;
}

#canvas {
    margin: 0 auto;
    background: #121212;
    border: 1px solid snow;
}
